* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    color: #333;
}
header {
    background-color: #3b3b3b;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo h1 {
    font-size: 2.5rem;
}
header .logo .slogan {
    font-size: 1.2rem;
    font-style: italic;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
#home {
    padding: 50px;
    background-color: #ff6347;
    text-align: center;
    color: white;
}
#home .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
#home .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.hero-image {
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 10px;
}
#menu {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}
#menu h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu-item {
    width: 30%;
    padding: 20px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.menu-item h3 {
    font-size: 1.8rem;
    margin-top: 15px;
}
.menu-item p {
    font-size: 1rem;
    margin-bottom: 10px;
}
.menu-item span {
    font-weight: bold;
    color: #e74c3c;
}
#localizacao {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

#localizacao iframe {
    margin-top: 20px;
    border-radius: 10px;
}
#contato {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label {
    margin: 10px 0;
    font-size: 1rem;
}
form input, form textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    padding: 10px 20px;
    background-color: #3b3b3b;
    color: white;
    border: none;
    border-radius: 10px;
}